body {
    display: flex;
    flex-direction: column;
    background-color: #e5e9ec;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 48px;
    padding: 32px;
}

.middleSection {
    display: flex;
    gap: 65px;
    align-items: center;
}

.sidebar, .invisibleplaceholder {
    width: 250px;
}
.sidebar {
    height: 350px;
    border: 5px solid darkcyan;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 1px 1px#b1fcfb;
    gap: 18px;
    padding:18px;
}

.sidebar > .invisible {
    flex: auto;
}

.text {
    font-size: 18px;
    font-weight: 300;
}

button {
    border: none;
    border-radius: 8px;
    background-color:darkcyan;
    color: aliceblue;
    font-weight:600;
    height: 40px;
    width: 120px;
    font-size: 20px;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

#eraseButton:hover {
    outline: 3px solid #b1fcfb;
}

button:not(#eraseButton):focus{
    outline: 3px solid #b1fcfb;
}

.active {
    transform: scale(1.1);
    outline: 3px solid #b1fcfb;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    width: 200px;
    height: 12px;
    opacity: 2;
    background: #e5e9ec;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: darkcyan;
    cursor:pointer;
}

.container.sketchboxes{
    display: flex;
    width: 500px;
    height: 500px;
    border: 5px solid darkcyan;
    box-shadow: 1px 1px 1px 1px#b1fcfb;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-self: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 16px;
}

input[type='color'] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
  }
  
.colorpicker {
    overflow: hidden;
    width: 3em;
    height: 3em;
    /* optional formatting below here */
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px grey;
  }
